<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Personal cabinet</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="main-card">
        <h1>Welcome, {{ username }}!</h1>
        <p>System is online</p>

        <div style="margin: 20px 0;">
            <img src="https://avatars.mds.yandex.net/i?id=7f18c7f70789c324859f7036c1ab0e49ea1a6e94-5505402-images-thumbs&n=13" alt="Private content" style="max-width: 100%; border-radius: 8px;">
        </div>

        <div class="link-box">
            <a href="/">Log out</a>
        </div>
    </div>
</body>
</html>